@media (max-width: 991px) {

    .about {
        text-align: center;
    }

    .about-content {
        align-items: center;
    }

    .about-text {
        max-width: 100%;
    }

    .about-statistics {
        justify-content: center;
    }

    .oral-health {
        text-align: center;
    }

    .oral-content {
        align-items: center;
    }

    .oral-text {
        max-width: 100%;
    }

    .oral-points {
        align-items: center;
    }

    .footer-top {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 768px) {

    :root {

        /* Typography */
        --fs-xl: 1.25rem;
        --fs-2xl: 1.75rem;
        --fs-3xl: 2.25rem;
        --fs-4xl: 2.75rem;

        /* Spacing */
        --sp-3: 1.25rem;
        --sp-4: 1.5rem;
        --sp-5: 2rem;
        --sp-6: 2.5rem;
        --sp-7: 3rem;
        --sp-8: 3.5rem;

    }

    .research-heading {
        font-size: var(--fs-2xl);
    }

    .research-subheading {
        font-size: var(--fs-sm);
    }

    .faq-heading {
        font-size: var(--fs-2xl);
    }

    .faq-subheading {
        font-size: var(--fs-sm);
    }

    .footer-top {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-brand p {
        margin: auto;
    }

    .footer-links {
        align-items: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-socials {
        justify-content: center;
    }

}